.card {
  @apply !w-full p-4 bg-[#fbfdff] border border-gray-300 rounded-md;
}

input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  @apply bg-slate-300;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-slate-500 rounded-xl;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  @apply bg-slate-600;
}
